* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-roof {
    position: absolute;
    background-color: blue;
    width: 10px;
    height: 140px;
    border-radius: 20px;
    transform: rotate(90deg);
    left: 250px;
    top: 100px;
}

.winds {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.wind-left {
    position: absolute;
    background-color: grey;
    width: 10px;
    height: 100px;
    border-radius: 20px;
    transform: rotate(35deg);
    left: 155px;
    top: 157px;
}

.wind-right {
    position: absolute;
    background-color: grey;
    width: 10px;
    height: 100px;
    border-radius: 20px;
    transform: rotate(-35deg);
    left: 345px;
    top: 157px;
}

.car-body {
    width: 200px;
    display: flex;
}

.front {
    position: absolute;
    background-color: blue;
    display: flex;
    width: 10px;
    height: 70px;
    border-radius: 20px;
    left: 20px;
    top: 260px;
}

.back {
    position: absolute;
    background-color: blue;
    width: 10px;
    height: 80px;
    border-radius: 20px;
    left: 460px;
    top: 250px;
}

.car-hood {
    position: absolute;
    background-color: blue;
    width: 10px;
    height: 120px;
    border-radius: 20px;
    left: 75px;
    transform: rotate(80deg);
    top: 195px;
}

.car-trunk {
    position: absolute;
    background-color: blue;
    width: 10px;
    height: 100px;
    border-radius: 20px;
    left: 415px;
    transform: rotate(-85deg);
    top: 200px;
}

.car-bottom {
    position: absolute;
    background-color: blue;
    width: 10px;
    height: 450px;
    border-radius: 20px;
    transform: rotate(90deg);
    top: 100px;
    left: 240px;
}

.wheels {
    width: 200px;
    display: flex;
    justify-content: space-between
}

.wheel-left {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    top: 300px;
    left: 60px;
}

.wheel-right {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    top: 300px;
    left: 350px;
}

/* CAR */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-roof {
    width: 200px;
    display: flex;
    justify-content: space-between
}

.roof-left {
    position: absolute;
    background-color: brown;
    width: 10px;
    height: 170px;
    border-radius: 20px;
    left: 410px;
    top: -20px;
    transform: rotate(45deg);
}

.roof-right {
    position: absolute;
    background-color: brown;
    width: 10px;
    height: 170px;
    border-radius: 20px;
    left: 525px;
    top: -20px;
    transform: rotate(-45deg);
}

.walls {
    display: flex;
}

.wall-left {
    position: absolute;
    background-color: yellow;
    width: 20px;
    height: 150px;
    border-radius: 20px;
    right: 555px;
    top: 90px;
}


.wall-rigth {
    position: absolute;
    background-color: yellow;
    width: 20px;
    height: 150px;
    border-radius: 20px;
    right: 400px;
    top: 90px;
}


.ceiling {
    position: absolute;
    background-color: grey;
    width: 15px;
    height: 180px;
    border-radius: 20px;
    right: 480px;
    top: 7px;
    transform: rotate(90deg);
}


.floor {
    position: absolute;
    background-color: green;
    width: 15px;
    height: 180px;
    border-radius: 20px;
    right: 480px;
    top: 145px;
    transform: rotate(90deg);
}

/*HOME*/


.human {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    border-radius: 50%;
    background-color: green;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
}

.body {
    background-color: blue;
    width: 50px;
    height: 100px;
}

.wrapper {
    display: flex;
}

.left-hand,
.right-hand {
    background-color: blueviolet;
    width: 10px;
    height: 100px;
    border-radius: 20px;
}

.left-hand {
    position: relative;
    right: 10px;
    transform: rotate(20deg);
    z-index: -1;
}

.right-hand {
    position: relative;
    left: 10px;
    transform: rotate(-20deg);
}

.legs {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.left-leg,
.right-leg {
    background-color: black;
    width: 10px;
    height: 100px;
}

/* HUMAN */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-head {
    position: relative;
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
    left: 100px;
}

.ear-left {
    position: relative;
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 20px;
    left: 85px;
    top: -60px;
}

.ear-right {
    position: relative;
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 20px;
    left: 120px;
    top: -75px;
}

.cat-body {
    position: relative;
    border-radius: 50%;
    background-color: black;
    width: 40px;
    height: 90px;
    left: 150px;
    top: -85px;
    transform: rotate(90deg);
}

.front-left-paw {
    position: relative;
    border-radius: 45%;
    background-color: black;
    width: 10px;
    height: 30px;
    left: 110px;
    top: -130px;
    transform: rotate(75deg);
}

.front-right-paw {
    position: relative;
    border-radius: 45%;
    background-color: black;
    width: 10px;
    height: 20px;
    left: 100px;
    top: -165px;
    transform: rotate(75deg);
}

.back-paw {
    position: relative;
    border-radius: 45%;
    background-color: black;
    width: 10px;
    height: 30px;
    left: 170px;
    top: -175px;
    transform: rotate(55deg);
}

.tail {
    position: relative;
    border-radius: 45%;
    background-color: black;
    width: 15px;
    height: 70px;
    left: 200px;
    top: -275px;
    transform: rotate(15deg);
}

/* CAT */